<!DOCTYPE html>
<html>
<head>
	<title>ScriptHub</title>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="Wrapper">
		<header>
			<div id="Logo">
	        	<a href="../index.html">ScriptHub</a>
	     	</div>
	      	<div id="About">
	      		<a href="../index.html">Home</a>
       		 	<a href="#" title="Contacts">Contacts</a>
      		 	<a href="#" title="Menu">Menu</a>
      		 	<a href="FAQ.html" title="FAQ">FAQ</a>
      		 	<div class="Search">
		      		<div class="search-box">
					<input type="text" class="search-txt" placeholder="Поиск в разработке ;)">
					<a href="#" class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></a>
	    	 	</div>
    	    </div>
		</header>
		<content>Termux Content</content>
		<aside>
			<p class="Section_Nav">Разделы</p>
			<ul class="Section">
				<li><img class="Img" src="../Images/Icon/html5.png"><a href="Web_Dev.html">+<img class="Img" src="../Images/Icon/css.png"> Web Dev</a></li>
				<li><img class="Img" src="../Images/Icon/java.png"><a href="JavaScript.html"> JavaScript</a></li>
				<li><img class="Img" src="../Images/Icon/python.png"><a href="Python.html"> Python</a></li>
				<li><img class="Img-1" src="../Images/Icon/php-1.png"><a href="PHP.html"> PHP</a></li>
				<li><img class="Img" src="../Images/Icon/github.png"><a href="GitHub.html"> Repositories GitHub</a></li>
				<li><img class="Img-1" src="../Images/Icon/hacker_2.png"><a href="Hack.html"> HACK and Other</a></li>
				<li><img class="Img" src="../Images/Icon/termux2.png"><a href="Termux.html"> Termux</a></li>
		</aside>
		<footer>
			<div class="Info">
				<span><img class="Img" src="../Images/Icon/instagram.png"> My Instagram:</span><a class="MyInst" href="#"> mr.devid_ng</a>
			</div>
			<div class="DownLogo">
				<span>ScriptHub</span>
			</div>
		</footer>
	</div>
</body>
</html>