{% extends "base.html" %}

{% block title %}
    ScriptHub
{% endblock %}

{% block body %}
    <style>

        #Logo {
            margin: 8px 0 0 3px;
            color: #f00;
            /*margin-top: 15px;*/
            width: 100%
            font-size:;
        }
        .alert {
            background-color: #080c0f;
        }

        content {
            height: 85%;
            width: 90%;
            margin-top: 100px;
            min-width: 70%;
            background-color: #0A0A0B;
            margin-left: 5%;
            grid-area: Content;
            min-height: 50%;
            max-height: 95%;
            overflow-x: hidden;
        }
        aside {
            width: 90%;
            right: -100%;
            border: 1px solid silver;
            background-color: #111;
            margin: 8% 0 0 0;
            /*  height:85vh;*/
            /*  position: fixed;*/
            z-index: 1000;
            /*  top: 0;
            left: 0;*/
            grid-area: Sidebar;
        }
        @media(max-width: 1370px){
            aside{
                margin: 8% 0 0 0;
                display: none;
            }
            content {
                width: 168%;
            }
        }
    </style>

	<div class="Wrapper">

		<div class="fotorama"
			 data-loop="true"
			 data-autoplay="true">	
		  <img src="static/Images/Slider/123.png">
		  <img src="static/Images/Slider/binar_world.jpg">
		  <img src="static/Images/Slider/1102010.jpg">
		</div>
		<content>

			<dev class="New">
				<span class="Top_Section">Section Sites</span>
				<div class="Material">
					<a href="Web_Dev" class="">
						<img class="poster 1" src="static/Images/Categories/html+css.jpeg"> <!-- <img class="poster 1" src="Images/Icon/css.png"> -->
						<span class="Block_Text">Web Development</span> </br>

						<span class="Menu_Text">List of HTML and CSS scripts for more advanced website design</span>
					</a>
					<a href="JavaScript" class="">
						<img class="poster 1" src="static/Images/Categories/Java.jpeg">
						<span class="Block_Text"> JavaScript</span>
						</br><span class="Menu_Text">JavaScript scripts for websites and applications</span>
					</a>
					<a href="Python" class="">
						<img class="poster 1" src="static/Images/Categories/Python2.jpeg">
						<span class="Block_Text">Python scripts</span>
						</br><span class="Menu_Text">Скрипты на языке Python</span>
					</a>
					<a href="PHP" class="">
						<img class="poster 1" src="static/Images/Categories/php.jpeg">
						<span class="Block_Text">PHP scripts</span>
						</br><span class="Menu_Text">Скрипты на PHP для Bekend разработки</span>
					</a>
					<a href="GitHub" class="">
						<img class="poster 1" src="static/Images/Categories/github.jpeg">
						<span class="Block_Text">Repositories GitHub</span>
						</br><span class="Menu_Text">Репозитории GitHub и инструкции к их использованию</span>
					</a>
					<a href="Hack" class="">
						<img class="poster 1" src="static/Images/Categories/hack.jpeg">
						<span class="Block_Text">HACK and Other</span>
						</br><span class="Menu_Text">Софт, эксплойты, репозитории GitHub и прочее для теста на проникновение </span>
					</a>
					<a href="Termux" class="">
						<img class="poster 1" src="static/Images/Categories/termux.jpeg">
						<span class="Block_Text">Termux</span>
						</br><span class="Menu_Text">Репозитории для работы с Termux</span>
					</a>
				</div>
			</dev>
		</content>
		<aside class="Sidebar">
			<p class="Section_Nav">Разделы</p>
			<ul class="Section">
				<li><img class="Img" src="static/Images/Icon/html5.png"><a href="Section_Site/Web_Dev.html">+<img class="Img" src="static/Images/Icon/css.png"> Web Dev</a></li>
				<li><img class="Img" src="static/Images/Icon/java.png"><a href="Section_Site/JavaScript.html"> JavaScript</a></li>
				<li><img class="Img" src="static/Images/Icon/python.png"><a href="Section_Site/Python.html"> Python</a></li>
				<li><img class="Img-1" src="static/Images/Icon/php-1.png"><a href="Section_Site/PHP.html"> PHP</a></li>
				<li><img class="Img" src="static/Images/Icon/github.png"><a href="Section_Site/GitHub.html"> Repositories GitHub</a></li>
				<li><img class="Img-1" src="static/Images/Icon/hacker_2.png"><a href="Section_Site/Hack.html"> HACK and Other</a></li>
				<li><img class="Img" src="static/Images/Icon/termux2.png"><a href="Section_Site/Termux.html"> Termux</a></li>
			</ul>
		</aside>
	</div>
{% endblock %}



